@model Nhom32_QuanLyTiemChung.Models.Vaccine

@{
    ViewBag.Title = "Xóa vaccine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="details-container">
    <h3>Bạn có muốn xóa loại vaccine này không?</h3>
    <dl >
        <dt>
            Mã vaccine:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idVaccine)
        </dd>

        <dt>
            Tên vaccine:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tenVaccine)
        </dd>

        <dt>
            Nước sản xuất:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nuocSanXuat)
        </dd>

        <dt>
            Nhà sản xuất:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nhaSanXuat)
        </dd>

        <dt>
            Mô tả bệnh:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.moTaBenh)
        </dd>

        <dt>
            Kỳ tiêm:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.kyTiem)
        </dd>

        <dt>
            Số lượng mũi tiêm:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.soLuongMuiTiem)
        </dd>
        <dt>
            Số lượng còn lại:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.soLuongConLai)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions mt-4">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>

<style>
    body {
        font-family: sans-serif;
    }

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #333;
        text-align: center;
    }

    .form-actions {
        text-align: center;
    }

    .details-container {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 600px;
        margin: 0 auto;
    }

    dl.dl-horizontal {
        display: flex;
        flex-wrap: wrap;
    }

    dt {
        width: 30%;
        font-weight: bold;
        color: #555;
        margin: 0 0 10px 0;
    }

    dd {
        width: 70%;
        margin: 0 0 10px 0;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
        color: white;
    }

    p {
        text-align: center;
        margin-top: 50px;
    }
</style>