@model Nhom32_QuanLyTiemChung.Models.Vaccine

@{
    ViewBag.Title = "Sửa vaccine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><strong>Sửa vaccine</strong></h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group row">
        @Html.LabelFor(model => model.idVaccine, "Mã vaccine", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idVaccine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idVaccine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.tenVaccine, "Tên vaccine", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tenVaccine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenVaccine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.nuocSanXuat, "Nước sản xuất", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nuocSanXuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nuocSanXuat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.nhaSanXuat, "Nhà sản xuất", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nhaSanXuat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nhaSanXuat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.moTaBenh, "Mô tả bệnh", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.moTaBenh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.moTaBenh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.kyTiem, "Kỳ tiêm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.kyTiem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.kyTiem, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.soLuongMuiTiem, "Số lượng mũi tiêm", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.soLuongMuiTiem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.soLuongMuiTiem, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.soLuongConLai, "Số lượng còn lại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.soLuongConLai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.soLuongConLai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-10 offset-md-2">
            <input type="submit" value="Sửa" class="btn btn-primary" />
            @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
</div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    /* CSS for Form */
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
    }

    /* Adjust spacing and alignment */
    .form-horizontal {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .control-label {
        font-weight: bold;
    }

    /* Style input fields */
    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    /* Style submit button */
    .btn-default {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

        .btn-default:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    /* Style heading */
    h2 {
        margin: 20px auto;
        font-size: 30px;
        color: #007bff; /* Màu xanh dương */
        text-align: center;
    }

    /* Style link for navigation */
    #content a {
        text-decoration: none;
        color: white;
    }

        /* Style link for navigation on hover */
        #content a:hover {
            text-decoration: underline;
            color: #0056b3;
        }
</style>